:root {
  color-scheme: light dark;

  --font-weight-medium: 500;
  --font-stretch-narrow: 94%;
  --font-stretch-normal: 100%;
  --font-stretch-wide: 106%;
  --font-stack-sans-serif: "SharpGroteskVF", "Sharp Grotesk Medium 19", sans-serif;
  --font-stack-monospace: "JetBrainsMonoVF", "JetBrains Mono", monospace;

  --border-radius-square: 1px;
}

::selection {
  background: var(--blue-500);
  color: white;
}

@font-face {
  font-family: "SharpGroteskVF";
  src: url("SharpGroteskTrial-VF.ttf") format("truetype");
}

@font-face {
  font-family: "JetBrainsMonoVF";
  src: url("JetBrainsMono-Variable.ttf") format("truetype");
}

* {
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
}

/* body,
input {
  font-family: "SharpGroteskVF", sans-serif;
} */

body {
  color: var(--color);
  background-color: var(--background-color);
  font-family: var(--font-stack-sans-serif);
  /* font-stretch: var(--font-stretch-normal); */
  margin: 0;
}

header,
section {
  margin: 0 1rem;
}

header {
  margin-bottom: 4rem;
}

h1 {
  font-weight: 550;
  letter-spacing: -1px;
  font-stretch: var(--font-stretch-narrow);
  /* color: var(--black-500); */
  font-size: 56px;
  margin: 0;
  /* text-transform: uppercase; */
  line-height: 110%;
}

header h2 {
  font-family: var(--font-stack-monospace);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.1px;
  margin: 0;
  margin-bottom: 0.75rem;
}

/* h1 span.highlight {
  color: var(--blue-500);
} */

p {
  /* font-size: 15px; */
  max-width: 600px;
  line-height: 160%;
  /* color: var(--grey-700); */
  font-stretch: var(--font-stretch-narrow);
  font-weight: normal;
  letter-spacing: -0.2px;
}

input,
label {
  font-family: var(--font-stack-monospace);
  letter-spacing: -0.1px;
  width: 100%;
  box-sizing: border-box;
  /* font-size: inherit; */
  font-size: 15px;
}

label {
  font-weight: 550;
  display: block;
  /* font-weight: var(--font-weight-medium); */
  /* font-weight: 464; */
  margin-bottom: 0.5rem;
}

input {
  border-radius: var(--border-radius-square);
  padding: 0.75rem;

  margin-bottom: 2.5rem;
}

/* input:hover {
  background-color: var(--off-white-300);
} */

input:active,
input:focus {
  color: var(--black-500);
  background-color: var(--white-000);
  /* box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0); */
  outline: none;
  box-shadow: 0 0 0 4px var(--blue-300);
  border: 1px solid var(--blue-500);
}

a.button {
  font-family: var(--font-stack-monospace);
  font-weight: 550;
  text-align: center;
  margin-top: 0.5rem;
  display: inline-block;
  border-radius: var(--border-radius-square);
  text-decoration: none;
}

a.button:visited {
  color: inherit;
}

a.button.primary {
  color: white;
  background-color: var(--blue-500);
  padding: 1rem 2rem;
}
a.button.primary:hover {
  background-color: #003cb8;
}

a.button.primary:active {
  background-color: var(--black-500);
}

a.button.back {
  font-size: 12px;
  padding: 0.55rem 1rem;
  margin-top: 3rem;
  margin-bottom: 2.5rem;
  /* border-radius: 200px; */
}

footer {
  margin-top: 5rem;
  height: 50vh;
  font-size: 12px;
  padding: 2rem 0;
  font-stretch: var(--font-stretch-narrow);
}

footer a {
  color: inherit;
}

p strong {
  font-weight: 500;
}
