:root {
  --white-500: #ffffff;
  --off-white-100: #fdfcfc;
  --off-white-300: #fbf9f9;
  --off-white-500: #f5f0f0;
  --black-500: #140f14;
  --grey-900: #0b0b0a;
  --grey-800: #1d1d1b;
  --grey-700: #30302c;
  --grey-500: #52524c;
  --grey-400: #87877e;
  --blue-300: #a3c1ff;
  --blue-500: #0a5aff;
  --blue-700: #0043cc;
  --green-500: #2bb151;
  --green-700: #21873e;
  --red-900: #47170b;
}
